body{
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#app{
    max-width: 700px;
    margin: 0 auto;
}

view{
    min-height: 400px;
}

#view-start, #view-capture, #view-results{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
