/* style.css */

body{
    font-family: Roboto-Mono, monospace, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;

    background-color: #ffffff;
    background-image: url('assets/unnamed.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#app{
    max-width: 700px;
    margin: 0 auto;

    padding: 20px;
    border-radius: 8px;
}

#starSticker{
    position: absolute;

    bottom: 10vh;
    left: 26vw;
    width: 10%;

    height: auto;
    z-index: 20;
    transform: rotate(-20deg);
}

#confetti1{
    position: absolute;

    top: 25vh;
    right: 10vw;
    width: 10%;

    height: auto;
    z-index: 20;
    transform: rotate(20deg);
}

#confetti2{
    position: absolute;

    bottom: 60vh;
    left: 3%;
    width: 10%;

    height: auto;
    z-index: 20;
    transform: rotate(20deg);
}

#conf6{
    position: absolute;
    bottom: 30vh;
    right: 9vh;

    width: 10%;
}

.view{
    min-height: 80vh;
}


/* view states */
#view-start, #view-capture, #view-results{
    color: #503113;
    font-family: Roboto-Mono, monospace, sans-serif;
    font-size: 20px;
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    margin-top: 10px;
}

#view-start{
    position: relative;
    height: 100%;
}

#videoContainer {
    position: relative;
    width: 90vw;
    max-width: 620px;

    aspect-ratio: 620/460;
    height: auto;
    margin-bottom: 20px;
    border: 4px solid #ada398;
}

#videoFeed{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    transform: scaleX(-1);
    z-index: 1;
}

#countdownOverlay{
    position: absolute;
    inset: 0;
    background: rgba(2, 2, 2, 0.7);
    color: rgb(253, 251, 247);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 50px;
}

#pictureStatus{
    position: absolute;
    top: 5px;
    left: 5px;
    background: #cab395;

    padding: 4px;
    z-index: 11;
}

#cameraError{
    position: absolute;
    inset: 0;

    background: rgb(107, 4, 4);
    stroke-width: 2px;
    color: rgb(255, 251, 246);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 21px;
    z-index: 12;
}

#photostrip{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.captured-image{
    width: 100%;
    height: auto;
    border: 1px solid #66625f;
    margin-bottom: 10px;
}

#startButton{
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 30;

    width: 250px;
    height: auto;

    cursor: pointer;
    margin: 0;
}

#captureButton{
    width: 100px;
    height: auto;

    cursor: pointer;
    margin: 10px;

    transition: opacity 0.3s;
    opacity: 1.0;
}

#photostrip-sticker{
    position: absolute;
    width: 250px;
    height: auto;

    top: 60%;
    left: 20%;
    transform: translate(-100%, -50%);
}

#star{
    position: absolute;
    width: 100px;
    height: auto;

    top: 40%;
    left: 87%;
    transform: rotate(-20deg);
}

#captureButton[style*="pointer-events: none"]{
    opacity: 0.8;
    cursor: not-allowed;
}

#captureButton:not([style*="pointer-events: none"]):hover{
    opacity: 0.8;
}

#downloadButton, #restartButton{
    background-color: #503113;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;

    cursor: pointer;
    font-size: 16px;
}