/* style.css */

body{
    font-family: Roboto-Mono, monospace, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

#app{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

#header-image{
    max-width: 120%;
    height: auto;
    margin-top: 20px;
    margin-bottom: -10px;
}

#starSticker{
    position: absolute;
    margin-top: -200px;
    margin-bottom: 300px;
    bottom: 1px;
    left: 80px;
    width: 200px;

    height: auto;
    z-index: 20;
    transform: rotate(-20deg);
}

#confetti1{
    position: absolute;
    margin-top: -100px;
    margin-bottom: 400px;

    left: 1300px;
    width: 210px;

    height: auto;
    z-index: 20;
    transform: rotate(20deg);
}

#confetti2{
    position: absolute;
    margin-top: -200px;
    margin-bottom: 100px;

    left: 400px;
    width: 200px;

    height: auto;
    z-index: 20;
    transform: rotate(20deg);
}

.view{
    min-height: 400px;
}



/* view states */
#view-start, #view-capture, #view-results{
    color: #503113;
    font-family: Roboto-Mono, monospace, sans-serif;
    font-size: 20px;
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    margin-top: 10px;
}

#videoContainer {
    position: relative;

    width: 620px;
    height: 460px;

    margin-bottom: 20px;
    border: 4px solid #ada398;
}

#videoFeed{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    transform: scaleX(-1);
    z-index: 1;
}

#countdownOverlay{
    position: absolute;
    inset: 0;
    background: rgba(2, 2, 2, 0.7);
    color: rgb(253, 251, 247);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 10;
    font-size: 50px;
}

#pictureStatus{
    position: absolute;
    top: 5px;
    left: 5px;
    background: #cab395;

    padding: 4px;
    z-index: 11;
}

#cameraError{
    position: absolute;
    inset: 0;

    background: rgb(107, 4, 4);
    stroke-width: 2px;
    color: rgb(255, 251, 246);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 21px;
    z-index: 12;
}

#photostrip{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.captured-image{
    width: 100%;
    height: auto;
    border: 1px solid #66625f;
    margin-bottom: 10px;
}

button{
    color: white;
    font-family: Roboto-Mono, monospace, sans-serif;
    letter-spacing: 1px;

    padding: 20px 20px;
    margin: 100px;
    cursor: pointer;

    font-size: 20px;
    background-color: #d1bba6;

    border: none;
    border-radius: 20px;
    transition: width 0.3s ease-in-out height 0.3s ease-in-out;
}

button:hover{
    background-color: #b69e87;
}

#captureButton{
    width: 100px;
    height: auto;

    cursor: pointer;
    margin: 10px;

    transition: opacity 0.3s;
    opacity: 1.0;
}

#captureButton[style*="pointer-events: none"]{
    opacity: 0.8;
    cursor: not-allowed;
}

#captureButton:not([style*="pointer-events: none"]):hover{
    opacity: 0.8;
}