/* style.css */

body{
    font-family: Roboto-Mono, monospace, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#app{
    max-width: 700px;
    margin: 0 auto;
}

#header-image{
    max-width: 90%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#starSticker{
    position: absolute;
    margin-top: -10px;
    margin-bottom: 150px;
    bottom: 1px;
    left: 80px;
    width: 200px;

    height: auto;
    z-index: 20;
    transform: rotate(-20deg);
}

view{
    min-height: 400px;
    padding: 20px;
    margin-top: 10px;
}

/* view states */
#view-start, #view-capture, #view-results{
    font-family: Roboto-Mono, monospace, sans-serif;
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    border: 1px solid #d6d4d2;
    margin-top: 10px;
}

#videoContainer {
    position: relative;

    width: 620px;
    height: 460px;

    margin-bottom: 20px;
    border: 4px solid #363535;
}

#videoFeed{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    transform: scaleX(-1);
    z-index: 1;
}

#countdownOverlay{
    position: absolute;
    inset: 0;
    background: rgba(2, 2, 2, 0.7);
    color: rgb(253, 251, 247);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 10;
    font-size: 50px;
}

#pictureStatus{
    position: absolute;
    top: 5px;
    left: 5px;
    background: #cab395;

    padding: 4px;
    z-index: 11;
}

#cameraError{
    position: absolute;
    inset: 0;

    background: rgb(107, 4, 4);
    stroke-width: 2px;
    color: rgb(255, 251, 246);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 21px;
    z-index: 12;
}

.captured-image{
    width: 100%;
    height: auto;
    border: 1px solid #66625f;
    margin-bottom: 10px;
}

button{
    font-family: Roboto-Mono, monospace, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;

    font-size: 16px;
    background-color: #d1bba6;

    border: none;
    border-radius: 5px;
}

button:disabled{
    background-color: #d6cdc2;
    cursor: not-allowed;
}